

<!DOCTYPE html>
<html>
    <head>
<title>About</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }} ">
    </head>
<body><div class="main">
     <div class="navbar">
    <div  class=icon >
        <h2 class="logo">XYZ <span></span></h2>

    </div>
 
    <div class="menu">
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
        </ul>
    </div>
</div class="about">
    <div class="para">
        <h2> The aim of the website is to help you in succeed in business<br> by analysing the customer and providing suggestion to sales</h2>
        <h4 class=" pros">Major Pros of the website</h4>
        <p class="p1"> Simple to Understand</p>
        <p class="p2"> The model is very accurate </p>
        <p class="p3">Prediction are made on decision tree</p>
    </div>

</div>
</body>
</html>

